.dropdown-item:hover, .dropdown-item:focus {
    color: rgb(230, 213, 213) !important;
    text-decoration: none;
    background-color: unset;
  }

  span.date, .views{
    font-size: 13px !important;
  }